@import 'swiper.min.css';

.swiper-container {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

@for $i from 1 through 3 {
    .slide-#{$i} {
        background-image: url(../img/news#{$i}.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
