@import "./reset.css";
@import "./slider.scss";
@import "./swiper.min.css";

@import "./discographi.scss";
@import "./concert.scss";
@import "./compositions.scss";
@import "./Events.scss";
@import "./history.scss";
@import "./news.scss";
@import "./contact.scss";
@import "./header-logo.scss";

@font-face {
    font-family: "dosis-light";
    src: url(../font/Dosis-Light.ttf);
}

@font-face {
    font-family: "Open Sans"; 
    src: url(../font/open-sans.ttf);
}

.dosis {
    font-family: "dosis-light";
}

.sans {
    font-family: "Open Sans";
}

body {
    background-color: #fff;
    font-family: "Open Sans";
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
}
